.App {
  display: grid;
  grid-template-rows: 20%, 150px ,auto;
  justify-items:center;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.klasa {
  flex-direction: inherit;
  margin: 20px;
  background-color: #000;
  color: white;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px grey;
  max-width: 400px;
  
}

.klasa1 {
  flex-direction: inherit;
  margin: 20px;
  background-color: #ccc;
  color: black;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px grey;
  max-width: 400px;
}
.klasa:hover {
background-color: aquamarine;
color: black;
box-shadow: 0px 0px;
}

.klasa1:hover {
  background-color: chartreuse;
  color: darkred;
  box-shadow: 0px 0px;
}

nav {
width: 90%;
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;


}

.ludzie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 550px;
  
grid-row-start: 3;
padding: 10px;
justify-content: center;
align-self: center;
}

.ludzie_obok {
background-color: bisque;
width: 300px;
color: #000;
border: #282c34 1px solid;


}
